#netDiv {
    background-image: url("../img/net.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 399px;
    height: 399px;
    padding: 0;
    margin: auto;
}

#gridDiv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 57px 114px 57px 114px 57px;
}

.smallCirclesBar {
    display: flex;
    justify-content: space-between;
}

.bigCirclesBar {
    display: flex;
    justify-content: center;
}

.smallCircle {
    background-image: url("../img/cyrcle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 57px;
    height: 57px;
    padding: 0;
    text-align: center;
}

.bigCircle {
    background-image: url("../img/big_cyrcle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 171px;
    height: 114px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hepta Slab', serif;
    font-size: 50px;
    color: red;
}

.numbers {
    width: 57px;
    height: 57px;
    padding: 0;
}

#holder {
    border: 1px solid black;
    width: 699px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: red;
}

.mainDiv {
    width: 699px;
    margin: auto;
    margin-top: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: 150px 399px 150px;
    grid-template-rows: 100%;
}

.statDiv {
    width: 150px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.menuDiv {
    width: 150px;
    padding-top: 10px;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
}